@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
.carousel {
  background-color: #17141d;
  padding-left: 100px;
  padding-right: 100px;
  /* font-family: 'DM Mono', monospace; */
} 
img {
  height: 80vh;
  background-size: cover;
}
body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: "DM Mono", monospace;
}
.card-list {
  display: flex;
  padding: 2rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: rgb(30, 228, 228);
  background: linear-gradient(90deg, #201c29, #20a5b9 1px, #4fafeb 0, #1bd8b2);
  /* background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d); */
}
.card {
  height: 400px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -0.5rem 0 2rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  cursor: pointer;
}
.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(130px);
}

.card:hover {
  transform: translateY(-1rem);
}

.card:not(:first-child) {
  margin-left: -130px;
}
.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}
h2 {
  text-align: left;
  padding-top: 1rem;
  padding-left: 2rem;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}
a {
  color: #7a7a8c;
  text-decoration: none;
}
.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

.carousel-item img {
  display: flex;
  height: 400px;
}
img {
  height: 250px;
}

.movie-info {
  height: calc(100vh - 60px);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.movie-detail {
  width: 60%;
  height: 100%;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    90deg,
    rgba(24, 24, 24, 1),
    rgba(24, 24, 24, 0) 100%
  );
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
.movie-name {
  font-size: 40px;
  font-weight: 500;
}
.trailer-container,
.recommendations {
  color: #fff;
  padding: 5vw 5vw 0;
}

.heading {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.movie p {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
}

.movie:hover p {
  opacity: 1;
}

.tag {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}
.tag a {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: whitesmoke;
  text-transform: uppercase;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
  border-color: white;
}
.tag a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
}
